.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 20vh;
  background-color: antiquewhite;
  border-radius: 10px;
}
.link {
  margin: 30px;
  margin-bottom: 20px;
  color: green;
  font-family: bold;
}
.searchbar {
  margin-top: 30px;
}
.button {
  color: white;
  background-color: lightskyblue;
  margin: 40px;
  border-radius: 5px;
  border-color: whitesmoke;
}
